.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 4rem 0;
}

.title {
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 1.5rem;
    background: -webkit-linear-gradient(#f52828, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    background-color: white;
    width: 70%;
    border-radius: 5px;
    box-shadow: 13px 10px 8px 0px rgba(34, 60, 80, 0.2);
}

.todos_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
    min-height: 20rem;
}

@media screen and (width < 600px) {
    .section {
        width: 95%;
    }
}